In [ ]:
Task 1: Calculate Area with Conditions
Write a Python function calculate_area that takes two parameters: length and width. It
should calculate and return the area of a rectangle. However, add a condition: if the length
is equal to the width, return "This is a square!" instead of the area. Then, write a program to
input values for length and width from the user and call the calculate_area function to
display either the area or the message.

In [1]:
def calculate_area(l,b):
    if l==b:
        print("This is a square")
    else:
        print(l*b)
l=int(input())
b=int(input())
calculate_area(l,b)

 3
 4

12

In [ ]:
Task 2: Generate Fibonacci Series
Problem Statement:
Write a Python program that generates the Fibonacci sequence up to a specified number of
terms, n. The Fibonacci sequence starts with 0 and 1, and each subsequent number in the
sequence is the sum of the two preceding numbers (e.g., 0, 1, 1, 2, 3, 5, 8, ...). Prompt the
user to enter the number of terms (n) they want in the sequence and then display the
Fibonacci sequence up to that number of terms.

In [2]:
n=int(input())
a=0
b=1
l=[0,1]
if n<=0:
    print("invalid")
elif n==1:
    print([a])
elif n==2:
    print([a,b])
else:
    for i in range(n-2):
        c=a+b
        l.append(c)
        a=b
        b=c
    print(l)

 6

[0, 1, 1, 2, 3, 5]

In [ ]:
Task 3: MySQL Database Operations with Python ( Compulsory )
Problem Statement:
Your task is to write a Python program that accomplishes the following:
First create a database , table and add these column ‘student_id’, ‘first_name’, ‘last_name’,
‘age’, ‘grade’.
Connects to your MySQL database with python.
Inserts a new student record into the "students" table with the following details:
First Name: "Alice"
Last Name: "Smith"
Age: 18
Grade: 95.5
Updates the grade of the student with the first name "Alice" to 97.0.
Deletes the student with the last name "Smith."
Fetches and displays all student records from the "students" table.

In [4]:
import mysql.connector

host = "localhost"
user = "root"
password = "19311A05p6@#"
database = "student"

try:
    connection = mysql.connector.connect(
        host=host,
        user=user,
        password=password,
        database=database
    )

    if connection.is_connected():
        print("Connected to MySQL database")
        cursor = connection.cursor()
        create_table_query = """
        CREATE TABLE IF NOT EXISTS students (
            student_id INT AUTO_INCREMENT PRIMARY KEY,
            first_name VARCHAR(255),
            last_name VARCHAR(255),
            age INT,
            grade FLOAT
        );
        """
        cursor.execute(create_table_query)
        print("Tablename 'students' created")

        insert_query = """
        INSERT INTO students (first_name, last_name, age, grade)
        VALUES ('Alice', 'Smith', 18, 95.5);
        """
        cursor.execute(insert_query)
        print("Inserted a new student record")

        update_query = """
        UPDATE students
        SET grade = 97.0
        WHERE first_name = 'Alice';
        """
        cursor.execute(update_query)
        print("Updated grade of the student named Alice")

        delete_query = """
        DELETE FROM students
        WHERE last_name = 'Smith';
        """
        cursor.execute(delete_query)
        print("Deleted the student with the last name Smith")

        select_all_query = "SELECT * FROM students;"
        cursor.execute(select_all_query)
        results = cursor.fetchall()

        print("\nAll student records:")
        for row in results:
            print(row)

except mysql.connector.Error as err:
    print(f"Error: {err}")

finally:
    if 'connection' in locals():
        if 'cursor' in locals():
            cursor.close()
        connection.close()
        print("Connection closed")

Connected to MySQL database
Tablename 'students' created
Inserted a new student record
Updated grade of the student named Alice
Deleted the student with the last name Smith

All student records:
Connection closed